<launch>

    <arg name="active_robot1" default="0"/>
    <arg name="active_robot2" default="1"/>

	<include file="$(find eurobot_localization)/launch/eurobot_localization.launch" if="$(eval arg('active_robot1')==1)">
		<arg name="robot_name" value="robot1"/>
		<arg name="robot_name_slash" value="robot1/"/>
        <arg name="active_rival_center" value="1"/>
	</include>

	<include file="$(find eurobot_localization)/launch/eurobot_localization.launch" if="$(eval arg('active_robot2')==1)">
		<arg name="robot_name" value="robot2"/>
		<arg name="robot_name_slash" value="robot2/"/>

        <arg name="active_rival_center" value="1" if="$(eval arg('active_robot1')==0)"/>
        <arg name="active_rival_center" value="0" if="$(eval arg('active_robot1')==1)"/>
	</include>

</launch>
