<launch>
    <include file="$(find eurobot_localization)/launch/second_layer/ekf_odom.launch"/>

	<include file="$(find lidar_localization)/launch/lidar_localization_2023.launch"/>
    <include file="$(find fake_odom)/launch/fake_odom.launch"/>
    <!-- <include file="$(find eurobot)/launch/localization/lidar_G6.launch"/> -->
    <!-- <include file="$(find rplidar_ros)/launch/rplidar_s2.launch"/> -->
    <!-- <include file="$(find eurobot)/launch/localization/linktrack.launch"/> -->

	<!-- <include file="$(find eurobot)/launch/localization/mpu9250_filter.launch"/> -->
</launch>
