<launch>

    <include file="$(find local_filter)/launch/firmware_setup/comm.launch"/>

    <node pkg="odometry" type="odometry_node" name="odometry_node" output="screen">
        
        <param name="active" value="true"/>
        <param name="publish" value="true"/>
        <param name="twist_topic" value="/Toposition"/>
        <param name="odom_topic" value="/odom"/>
        <param name="fixed_frame" value="odom"/>
        <param name="target_frame" value="base_footprint"/>
        <param name="update_params" value="false"/>
        <param name="covariance_x" value="0.05"/>
        <param name="covariance_y" value="0.05"/>
        <param name="covariance_z" value="0.1"/>
        <param name="covariance_vx" value="0.05"/>
        <param name="covariance_vy" value="0.05"/>
        <param name="covariance_vz" value="0.2"/>
        <param name="covariance_multi_vx" value="0.5"/>
        <param name="covariance_multi_vy" value="0.5"/>
        <param name="covariance_multi_vz" value="0.5"/>
		<param name="using_nav_vel_cb" value="false"/>
		<param name="using_dynamic_reconf" value="true"/>

    </node>

</launch>
