<launch>

	<arg name="robot_name" default="robot1"/>
	<arg name="robot_name_slash" default="robot1/"/>
	<arg name="active_rival_center" default="0"/>
	<arg name="color" default="b"/>

    <group ns="$(arg robot_name)">
        <node name="ekf" pkg="eurobot_localization" type="ekf" >

            <!-- Beacon settings for blue or green -->
            <rosparam file="$(find eurobot_localization)/config/global_filter_blue.yaml" if="$(eval arg('color')=='b')"/>
            <rosparam file="$(find eurobot_localization)/config/global_filter_green.yaml" if="$(eval arg('color')=='g')"/>

            <!-- Load basic settings -->
            <rosparam file="$(find eurobot_localization)/config/global_filter_basic.yaml"/>

			<param name="robot_name" value="$(arg robot_name_slash)"/>

            <remap from="odom" to="global_filter"/>
        </node>
    </group>


	<include file="$(find lidar_localization)/launch/lidar_with_driver.launch">
		<arg name="robot_name" default="$(arg robot_name)"/>
		<arg name="robot_name_slash" default="$(arg robot_name_slash)"/>
        <arg name="active_rival_center" default="$(arg active_rival_center)"/>
	    <arg name="color" value="$(arg color)"/>
    </include>

	<include file="$(find eurobot_localization)/launch/rival/rival_localization.launch">
        <arg name="robot_name" default="$(arg robot_name)"/>
        <arg name="robot_name_slash" default="$(arg robot_name_slash)"/>
        <arg name="active_rival_center" default="$(arg active_rival_center)"/>
    </include>
    
</launch>
