<launch>

	<arg name="robot_name" default="robot1"/>
	<arg name="robot_name_slash" default="robot1/"/>
	<arg name="active_rival_center" default="0"/>
	<arg name="side" default='0' />
	<arg name="basketBot" default='1' />  <!-- basketBot == 1 or 2 -->


    <group ns="$(arg robot_name)">
        <node name="ekf" pkg="eurobot_localization" type="ekf" >

            <!-- Beacon settings for blue or green -->
            <rosparam file="$(find eurobot_localization)/config/global_filter_blue.yaml" if="$(eval arg('side')==0)"/>
            <rosparam file="$(find eurobot_localization)/config/global_filter_green.yaml" if="$(eval arg('side')==1)"/>

            <!-- Load basic settings -->
            <rosparam file="$(find eurobot_localization)/config/global_filter_basic.yaml"/>

			<param name="robot_name" value="$(arg robot_name_slash)"/>

			<param name="basket_bot" value="$(arg basketBot)"/>

            <remap from="odom" to="global_filter"/>
        </node>
    </group>


	<include file="$(find lidar_localization)/launch/lidar_with_driver.launch">
		<arg name="robot_name" default="$(arg robot_name)"/>
		<arg name="robot_name_slash" default="$(arg robot_name_slash)"/>
        <arg name="active_rival_center" default="$(arg active_rival_center)"/>
	    <arg name="side" value="$(arg side)"/>
    </include>

	<include file="$(find eurobot_localization)/launch/rival/rival_localization_plus.launch">
        <arg name="robot_name" default="$(arg robot_name)"/>
        <arg name="robot_name_slash" default="$(arg robot_name_slash)"/>
        <arg name="active_rival_center" default="$(arg active_rival_center)"/>
    </include>
    
</launch>
