<launch>

	<arg name="robot_name" default=""/>
	<arg name="robot_name_slash" default=""/>

    <node pkg="imu_drive" type="imu_drive_node" name="imu_node" output="screen">
        
        <param name="active" value="true"/>
        <param name="publish" value="true"/>

        <param name="sub_topic" value="/$(arg robot_name)/imu/data"/>
        <param name="pub_topic" value="/$(arg robot_name)/imu/data_cov"/>
        <remap from="/cmd_vel" to="/$(arg robot_name)/cmd_vel"/>
        <remap from="/ekf_pose" to="/$(arg robot_name)/ekf_pose_in_odom"/>

        <param name="frame" value="$(arg robot_name_slash)imu_link"/>
        <param name="update_params" value="false"/>

        <param name="covariance_vx" value="0.05"/>
        <param name="covariance_vy" value="0.05"/>
        <param name="covariance_vz" value="0.1"/>
        <param name="covariance_ax" value="0.11"/>
        <param name="covariance_ay" value="0.11"/>
        <param name="covariance_az" value="0.2"/>

        <param name="cov_multi_vel" value="0.2"/>
        <param name="cov_multi_acl" value="0.2"/>

		<param name="using_nav_vel_cb" value="false"/>    <!-- "true" for cmd_vel, "false" for ekf_pose-->
    </node>

</launch>
