<launch>
    
    <node name="map_to_odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 1 map odom"/>
    <!-- <node name="base_to_laser" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 -0.044 0.999 base_footprint laser_frame"/> -->

    <node name="beacon_extractor" pkg="obstacle_detector" type="obstacle_extractor_node">
        <rosparam file="$(find lidar_localization)/params/beacon_excrator_params.yaml" command="load" />
        <remap from="raw_obstacles" to="obstacles_to_base"/>
    </node>

    <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node">
        <rosparam file="$(find lidar_localization)/params/obstacle_excrator_params.yaml" command="load" />
        <remap from="raw_obstacles" to="obstacles_to_map"/>
    </node>

    <node name="lidar_localization" pkg="lidar_localization" type="lidar_localization_node" output="log">
        <rosparam file="$(find lidar_localization)/params/lidar_localization_params.yaml" command="load" />
    </node>

    <node name="area_obstacles_extractor" pkg="lidar_localization" type="area_obstacles_extractor_node" output="screen">
        <remap from="global_filter" to="ekf_pose_in_odom"/>
    </node>

    <node name="area_obstacles_extractor" pkg="lidar_localization" type="area_obstacles_extractor_node" output="screen">
        <rosparam param="excluded_x">[0.25, 0.659]</rosparam>
        <rosparam param="excluded_y">[2.45, 2.398]</rosparam>
        <rosparam param="excluded_radius">[0.3, 0.6]</rosparam>
    </node>

    <node name="rx_to_odom" pkg="lidar_localization" type="rx_to_odom">
        <param name="active" value="true"/>
        <param name="publish_topic" value="true"/>
        <param name="init_x" value="1.65"/>
        <param name="init_y" value="2.58"/>
        <param name="init_yaw" value="-2.66"/>
        <param name="cov_vx" value="0.05"/>
        <param name="cov_vyaw" value="0.05"/>
        <param name="delay" value="1"/>
    </node>

</launch>
