<launch>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_velocity" clear_params="true">
        <!-- <param name="tf_prefix" value="Tera" /> -->
		<rosparam command="load" file="$(find local_filter)/param/local_filter.yaml" />
        <remap from="odometry/filtered" to="global_filter" />
        <remap from="set_pose" to="initialpose" />
        <remap from="/diagnostics" to="~diagnostics" />
    </node>

    <include file="$(find odometry)/launch/odometry_comm.launch"/>
    <include file="$(find local_filter)/launch/firmware_setup/spatial.launch"/>
    
</launch>
