<launch>

    <!-- Local filter by robot localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_velocity" clear_params="true">
        <!-- <param name="tf_prefix" value="Tera" /> -->
        <rosparam command="load" file="$(find local_filter)/param/local_filter.yaml" />
        <remap from="odometry/filtered" to="global_filter" />
        <remap from="set_pose" to="initialpose" />
        <remap from="/diagnostics" to="~diagnostics" />
    </node>

    <!-- Odometry firmware and covariance feedback loop node (contain communication) -->
    <include file="$(find odometry)/launch/odometry.launch"/>

    <!-- IMU firmware and covariance feedback loop node (contain IMU spatial launch) -->
    <include file="$(find imu_drive)/launch/imu_drive.launch"/>
    
</launch>
